main {
    min-width: 960px;
}

.main {
    display: flex;
    --s: 60px; /* size  */
    --m: 0px; /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
}

.container {
    background-color: #000;
    border: #000;
    border-style: solid;
    border-width: 0px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    width: 960px;
    height: 690px;
    font-size: 0; /*disable white space between inline block element */
}

.container div {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * 1.1547);
    display: inline-block;
    font-size: initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--m) - var(--s) * 0.2885);
}

.container div.leftEdge {
    clip-path: polygon(50% 100%, 100% 75%, 100% 25%, 50% 0%);
}
.container div.rightEdge {
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 50% 0%);
}
.container div.topEdge {
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
}
.container div.bottomEdge {
    clip-path: polygon(0% 25%, 0% 75%, 100% 75%, 100% 25%, 50% 0%);
}
.container div.leftTopEdge {
    clip-path: polygon(50% 100%, 100% 75%, 100% 25%, 50% 25%);
}
.container div.rightTopEdge {
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 50% 25%);
}
.container div.leftBottomEdge {
    clip-path: polygon(50% 75%, 100% 75%, 100% 25%, 50% 0%);
}
.container div.rightBottomEdge {
    clip-path: polygon(0% 25%, 0% 75%, 50% 75%, 50% 0%);
}

.container::before {
    content: "";
    width: calc(var(--s) / 2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(
            #0000 0 calc(var(--f) - 3px),
            #000 0 var(--f)
    );
}

.glacier {
    background-color: #c2d7f2;
}
.deepWater {
    background-color: #1433a6;
}
.coastalWater {
    background-color: #3c5cfa;
}
.lowlandTundra {
    background-color: #10944b;
}
.highlandsTundra {
    background-color: #53916f;
}
.coldDesert {
    background-color: #768c91;
}
.coldDesertHills {
    background-color: #3c474a;
}
.temperateLowlandsPlains {
    background-color: #18d628;
}
.temperateForest {
    background-color: #10941b;
}
.highlandHills {
    background-color: #6ed477;
}
.temperateHighlandForest {
    background-color: #498f4f;
}
.temperateRainforest {
    background-color: #084d0e;
}
.temperateHighlandRainforest {
    background-color: #2a452c;
}
.hotDesert {
    background-color: #e84827;
}
.hotDesertHills {
    background-color: #9c2e17;
}
.hotSteppe {
    background-color: #459410;
}
.hotSteppeHills {
    background-color: #69914e;
}
.tropicalSavanna {
    background-color: #739410;
}
.tropicalSavannaHills {
    background-color: #7e8f4c;
}
.tropicalRainforest {
    background-color: #3f5209;
}
.tropicalRainforestHills {
    background-color: #464f2b;
}
.glacialHeights {
    background-color: #9dc6fc;
}
.frozenMountains {
    background-color: #ebf0f7;
}
.mountains {
    background-color: #260f02;
}