<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Map</title>
</head>
<body>

<div>
    <h1>New Map</h1>
    <a th:href="@{/my-maps}">My Maps</a>
    <form method="post" th:action="@{/new-map}" th:object="${newMap}">

        <label for="seed">Seed</label>
        <input type="number" th:field="*{seed}" id="seed"  min="0" max="99999">

        <label for="mapSizes">Map Size</label>
        <select id="mapSizes" name="mapSizes" th:field="*{mapSize}">
            <option th:each="mapSize : ${mapSizes}" th:value="${mapSize.name()}" th:text="${mapSize.name()}"></option>
        </select>

        <div id="turnChange">
            <ul>
                <li th:each="hour, iterStat : ${hours}">
                    <input type="checkbox" th:field="*{turnChange}" th:value="${hour}" th:id="'hour_' + ${iterStat.index}" />
                    <label th:for="${'hour_' + hour}" th:text="${hour.getValue()}"></label>
                </li>
            </ul>
        </div>

        <button type="submit"> Create Map </button>

        <!-- Show ANY error in the form -->
        <div th:if="${#fields.hasAnyErrors()}">
            <ul>
                <li th:each="error : ${#fields.allErrors()}" th:text="${error}">

                </li>
            </ul>
        </div>

    </form>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/logout}">Logout</a>
</div>

</body>
<script>
    document.getElementById('seed').value=Math.floor(Math.random() * 99999);
</script>
</html>